
.pricing-list {
    margin-bottom: 1px;
  }
  .pricing-table {
    max-width: 350px;
    margin: auto;
  }
  .pricing-table,
  .pricing-horizontal {
    border-radius: 18px !important;
  }
  .s{
    color:red;
  }
