        #work_banner {
        background-image: url("/static/img/work/banner-bg-02.jpg");
        background-repeat: no-repeat;
        background-position: center center; background-size: cover;
        height: 100%;
        width: 100%;
        }
